PyQt5>=5.15.0
PyMuPDF>=1.19.0
pytesseract>=0.3.8
Pillow>=8.3.1
opencv-python>=4.5.3
numpy>=1.21.0
pdf2image>=1.16.0
easyocr>=1.7.2
torch>=1.10.0  # Wymagane przez EasyOCR
torchvision>=0.11.0  # Wymagane przez EasyOCR
paddlepaddle>=2.4.2  # Silnik PaddlePaddle
paddleocr>=2.6.1.3  # PaddleOCR